.background    { background: rgb(89, 89, 89);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(204, 41, 54); }
.wall          { background: rgb(100, 166, 189);   }
.floater       { background: rgb(245, 203, 92);   }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
