.background    { background: rgb(4, 129, 248);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { width:16px;
            	 height:16px;
                 background-image:url(Lava.png); }
.wall          { width:16px;
            	 height:16px;
                 background-image:url(Block1.png);   }
.floater       { background: rgb(245, 203, 92);   }

.actor  { position: absolute;  }
.player { background: rgb(64, 64, 64); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
